@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body{
  font-family: 'Jost';
}

.header{
  background:#FF7F99;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin: 0% 30px;
}

.logo span{
  color:#FFCA41;
  }

.nav-principal{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.nav-principal a{
  text-decoration: none;
  color: white;
  margin: 10px;
  width:fit-content;
}
.btn-lleno{
  background-color:rgba(255, 219,0, 0.24);
  border-radius: 30px;
  border: #FFDB80;
  padding: 10px 20px;

}
.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  }

.img-equipo{
  width: 50%;
}

.consultores {
  width: 50%;
}

.consultores.h1{
  color:#FF7F99;
  font-weight: 400;
  font-size: 4em;
  line-height: 80%;
}

.consultores h5{
  text-align:left;
  font-size:20px;
  margin: 0px;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
 }

.bt1{
  padding:15px;
  width: 150px;
  background-color:#FFCA41;
  border:none;
  color:white;
  border-radius: 36px;
}
